<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="../css/estilos.css")
  link(href="https://fonts.googleapis.com/css?family=Russo+One", rel="stylesheet")
  title Tutoriales Chape tu codigo
body
  .contenido
    header
      hgroup
        h1 CHAPE TU CODIGO
      nav
        ul
          li
            a(href="index.html") inicio
          li
            a(href="tutoriales.html") tutoriales
          li
            a(href="contacto.html") contacto
          li
            a(href="media.html") media
    section
      .textoPre
        hgroup
          h1 Estos son nuestros tutoriales
        p PHP:   
          meter(min='0' max='100' value='70')
        p JAVA:  
          meter(min='0' max='100' value='60')
        p CSS:   
          meter(min='0' max='100' value='35')
        p JQUERY:
          meter(min='0' max='100' value='25')
        p C++:   
          meter(min='0' max='100' value='90')  
  footer
    canvas#micanvas     
  script(src="../js/jquery-3.1.1.min.js")
  script(src="../js/jquery-1.12.3.min.js") 
  script(src="../js/principal.js")   
